@font-face {
  font-family: 'Glober';
  src: url('../fonts/globerlight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Glober';
  src: url('../fonts/globerregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Glober';
  src: url('../fonts/globersemibold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
