.menu {

  &__contacts {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__link-logo {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  &__btn {
    position: fixed;
    z-index: 2;

    right: 0;
    margin-right: 11px;
    width: 50px;
    height: 49px;

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10%;
    outline: none;

    &:active {
      background-color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 9px;

      width: 30px;
      height: 2px;

      background-color: #000000;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 11px;
      bottom: 11px;
      left: 9px;

      width: 30px;

      border: 2px solid #000000;
      border-width: 2px 0;
    }
  }
}

.menu-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;

  transform: translateX(-100%);

  transition: transform 1000ms;

  &--active {
    transform: translateX(0);

    transition: transform 1000ms;
  }
}


.menu-list {
  padding: 0;

  list-style: none;
  text-align: center;

  &__item {
    padding: 15px 0;

    background-color: rgba( #cd2626, 1);

    &:not(:first-child) {
      border-top: 1px solid #ffffff;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #8b1a1a;
    }
  }

  &__dropdown {
    display: none;
    padding: 0;
    list-style: none;

    &--active {
      padding: 6px 0;

      position: relative;
      z-index: 2;
      display: block;
    }
  }

  &__item-link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
  }
}

.open {
  display: inline-block;
  cursor: pointer;
  position: relative;
  bottom: -2px;
  left: 10px;
  height: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.5s ease;
  &--active {
    transform: rotate(-180deg);
    transition: 0.5s ease;
  }

  // &:hover {
  //   transform: rotate(-180deg);
  //   transition: 0.5s ease;
  // }

  &::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    width: 2px;
    height: 8px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  &::before {
    content: '';
    position: absolute;
    left: 2px;
    top: 3px;
    width: 2px;
    height: 8px;
    background-color: #fff;
    transform: rotate(-45deg);
  }
}

.second-menu {
  padding: 6px 5px;
}

@media(min-width: 768px) {
  .menu {
    margin-top: 15px;

    &__contacts {
      display: block;
    }

    &__contacts-tel,
    &__contacts-mail {
      display: block;
      text-decoration: none;
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
      color: #cd2626;
    }

    &__contacts-mail {
      text-align: right;
      padding-top: 5px;
    }

    // &__logo {

    // }

    &__btn {
      display: none;
    }
  }

  .menu-nav {
    position: relative;
    padding: 0;

    transform: none;

    transition: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      background-color: transparent;

      &:nth-child(n) {
        border: none;
      }
    }

    &__dropdown {

      a:hover {
        color: #fff;
      }

      &--active {
        position: absolute;
        width: 364px;
        top: 96%;
        left: -152px;
        background-color: rgba(#cd2626, 1);
        // background-color: rgba(#ecedf1, 0.2);
      }
    }

    &__item-link {
      color: #222222;

      &:hover {
        padding-bottom: 10px;
        border-bottom: 2px solid #cd2626;
      }

      &--active {
        padding-bottom: 10px;
        border-bottom: 2px solid #cd2626;
      }
    }
  }

  .open {

    &::after {
      background-color: #333;
    }
    &::before {
      background-color: #333;
    }
  }

  .second-menu:not(:last-child) {
    border-bottom: 1px solid #8b1a1a;
  }
  .second-menu:not(:first-child) {
    border-top: 1px solid #fff;
  }
}
