.auction-activity {
  &__caption {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &__wrapper {
    padding-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__text {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__type {
    text-align: center;
  }
}


@media(min-width: 768px) {
  .auction-activity {
    &__type {
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      max-width: 630px;
    }

    &__img {
      width: 300px;
    }
  }
}


@media(min-width: 1024px) {
  .auction-activity {
    &__wrapper {
      padding-bottom: 0;
    }
  }
}
