.lot {
  margin: 30px 0;
}

.lot-header {
  margin: 20px 0;

  &__caption {
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
  }

  &__wrapper {
    padding-bottom: 20px;
  }


  &__text {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
  }

  &__time {
    text-align: center;
    font-weight: 700;
  }
}


.lot-content {
  margin-bottom: 20px;
  &__elem {
    padding-bottom: 10px;
  }

  &__text {
    color: #333333;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 10px;

    &--two {
      text-align: center;
      padding-bottom: 3px;
    }
  }

  &__number {
    background-color: #cd2626;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 5px;
  }

  &__price {
    // font-size: 16px;
    // color: #333;
    font-weight: 700;
    background-color: #cd2626;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 5px;
  }
}

.lot-img {
  margin-bottom: 40px;
  &__wrapper {
    line-height: 0;
    padding-bottom: 10px;
  }

  &__elem {
    width: 100%;
    height: auto;
  }
}

.documents {
  display: inline-block;
  border: 3px solid #cd2626;
  padding: 10px;

  &__list {
    padding: 0;
    list-style: none;
  }

  &__text {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  &__list-item:not(:nth-child(3n)) {
    padding-bottom: 5px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__link-text {
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: underline #333;
  }
}

@media(min-width: 768px) {
  .lot-header {
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__wrapper {
      flex-basis: 33%;
    }
  }

  .lot-content {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .lot-img {
    display: flex;
    justify-content: space-between;

    &__wrapper {
      padding: 0;
    }

    &__elem {
      width: 240px;
      height: 180px;
    }
  }

  .documents {
    flex-basis: 40%;
  }
}


@media (min-width: 1024px) {
  .lot-img {
    &__wrapper {
      padding-right: 10px;
    }
  }

  .documents {
    &__icon {
      display: none;
    }
  }
}


@media(min-width: 1260px) {
  .documents {
    &__icon {
      display: inline-block;
    }
  }
}
