.news {

  padding-top: 50px;

  &__btn {
    cursor: pointer;
    display: block;
    width: 100%;
    max-width: 336px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 0;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid #e00;
    outline: 0;

    &:active {
      background-color: #cd2626;
      color: #ffffff;

      .time {
        color: #ffffff;
      }
    }
  }

  &__caption {
    text-align: center;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
  }

  &__text {
    padding-top: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }

  &__more {
    display: inline-block;
    color: #333;
    text-transform: uppercase;
    padding-top: 10px;

    &:hover {
      color: #cd2626;
    }
  }
}

.news-wrapper {
  display: flex;
  flex-direction: column;
}

.time {
  color: #e00;
  font-weight: 700;
}

.text-hide {
  height: 0;

  opacity: 0;

  transition: all 0.5s ease-in;

  &--active {
    height: auto;

    transform: none;
    opacity: 1;
  }
}


@media(min-width: 768px) {
  .news{

    &__btn {
      max-width: 336px;
    }

    &__caption {
      padding: 0 20px;
    }
  }

  .news-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .text-active {
    width: 45%;
  }

  .text-hide {
    width: 45%;
  }
}


@media(min-width: 1024px) {
  .news {
    &__caption {
      padding: 0 60px;
    }
  }
}

@media(min-width: 1260px) {
  .news {
    &__caption {
      padding: 0;
    }
  }
}
