.assessment {
  margin-bottom: 60px;
  &__caption {
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #333;
    text-transform: uppercase;

    &--h3 {
      // text-align: center;
      padding: 20px 0;
      color: #cd2626;
      font-size: 20px;
    }
  }

  &__text {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__right {
    display: none;
    border: 3px solid #cd2626;
    padding: 10px;
  }
}


@media(min-width: 1024px) {
  .assessment {
    display: flex;
    align-items: baseline;

    &__left {
      margin-right: 50px;
      flex-basis: 60%;
    }

    &__right {
      display: inline-block;
      flex-basis: 40%;
    }
  }
}
